:root {
    --color-main-green: #64DA68;
}
@font-face {
    font-family: "continuous";
    src: url('../font/continuous.ttf') format('truetype');
}
.page{
    width: 1440px;
    background-color: aliceblue;
    width: 100%;
}
.info_page{
    width: 100%;
    display:flex;
    position:relative;
    justify-content: space-between;
    margin-bottom: 100px;
}
.cont_page{
    width: 100%;
    display:block;
    position:relative;
    border-left-color: #3E3E3E;
    margin-right: 100px;
    font-family: "continuous";
}
.selfie{
    margin-right:auto;
}
.intro_div{
    font-family: "continuous";
    margin-left: 100px;
    margin-right: 100px;
    width: 700px;
}
.point{
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 620px;
}
.favorite{
    margin-top: 100px;
}
.fav_page{
    width: 100%;
    display:flex;
    justify-content:space-around;
    position:relative;
}
.fav_title{
    font-family: 'continuous';
    margin-left: 100px;
}

.picture_banner {
    width: 200px;
    display: block;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
}
.picture_btn{
    width: 200px;
    height: 220px;
    background-color:var(--color-main-green);
    border: none;
    border-radius: 8px;
    font-family: "continuous";
    color: #FFFFFF;
    font-size: 12px;
}
.pic_img{
    width: 190px;
    height: 190px;
    border-radius: 8px;
}
.picture_logo{
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'continuous';
}
.music_banner{
    width: 200px;
    display: block;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
}
.music_btn{
    width: 200px;
    height: 220px;
    background-color:var(--color-main-green);
    border: none;
    border-radius: 8px;
    font-family: "continuous";
    color: #FFFFFF;
    font-size: 12px;
}
.music_img{
    width: 190px;
    height: 190px;
    border-radius: 8px;
}
.music_logo{
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'continuous';
}
.movie_banner1{
     width: 200px;
     display: block;
     flex-direction: column;
     margin-top: 20px;
     margin-left: auto;
 }
.movie_btn1{
    width: 200px;
    height: 220px;
    background-color:var(--color-main-green);
    border: none;
    border-radius: 8px;
    font-family: "continuous";
    color: #FFFFFF;
    font-size: 12px;
}
.movie_img1{
    width: 190px;
    height: 190px;
    border-radius: 8px;
}
.movie_logo1{
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'continuous';
}
.movie_banner2{
      width: 200px;
      display: block;
      flex-direction: column;
      margin-top: 20px;
      margin-left: auto;
    margin-right: 150px;
}
.movie_btn2{
    width: 200px;
    height: 220px;
    background-color:var(--color-main-green);
    border: none;
    border-radius: 8px;
    font-family: "continuous";
    color: #FFFFFF;
    font-size: 12px;
}
.movie_img2{
    width: 190px;
    height: 190px;
    border-radius: 8px;
}
.movie_logo2{
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'continuous';
}


