<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/introduce.css">
    <title>Oreo's page</title>
</head>
<body>
    <div class="page">
        <div class ="info_page">
            <img src="../img/img/info.PNG" alt="selfie" class="selfie">
            <div class="intro_div">
                <h1>I'm oreo!</h1>
                <ul class="intro">
                    <li>Name : Taehun Ko</li>
                    <li>Age : 24(22)</li>
                    <li>Univ : Korea Aerospace University</li>
                    <li>Major : Electronics and Aeronautical electronics Engineering</li>
                </ul>
            </div>
            <div class ="cont_page">
                <h1>Contact</h1>
                <ul class="contact">
                    <li>Phone : +82 10 7473 3158</li>
                    <li>E-mail : rhxogns13@gmail.com</li>
                    <li>Insta : @oerr.ro</li>
                </ul>
            </div>
        </div>
        <img src="../img/img/point.png" alt="point" class="point">
        <div class="favorite">
            <h1 class="fav_title">My Favorites</h1>
            <div class ="fav_page">
                <div class="picture_banner">
                    <button class="picture_btn">
                        <a href="https://www.instagram.com/poem._hoem/" target="_blank"><img src="../img/img/pic.jpeg" alt="pic" class="pic_img"></a>
                        <a href="https://www.instagram.com/poem._hoem/" target="_blank" class="picture_logo">Picture</a>
                    </button>
                </div>
                <div class="music_banner">
                    <button class="music_btn">
                        <a href="https://www.youtube.com/@halsey" target="_blank"><img src="../img/img/artist.jpeg" alt="music" class="music_img"></a>
                        <a href="https://www.youtube.com/@halsey" target="_blank" class="music_logo">Music</a>
                    </button>
                </div>
                <div class="movie_banner1">
                    <button class="movie_btn1">
                        <a href="https://youtu.be/x60mB0zXZ38?si=oEtbbjRrnSdPMpXd" target="_blank"><img src="../img/img/movie1.jpeg" alt="movie" class="movie_img1"></a>
                        <a href="https://youtu.be/x60mB0zXZ38?si=oEtbbjRrnSdPMpXd" target="_blank" class="movie_logo1">Movie</a>
                    </button>
                </div>
                <div class="movie_banner2">
                    <button class="movie_btn2">
                        <a href="https://youtu.be/yfSMTFzw-Kw?si=lymePECuRQhanjsr" target="_blank"><img src="../img/img/movie2.jpeg" alt="movie" class="movie_img2"></a>
                        <a href="https://youtu.be/yfSMTFzw-Kw?si=lymePECuRQhanjsr" target="_blank" class="movie_logo2">Movie</a>
                    </button>
                </div>
            </div>
        </div>


    </div>
</body>
</html>